<div class='container'>
    <div class ='header-cart'>
        <h1 class='text-center mb-50'>カートの中身</h1>
    </div>
    <ul class='list-group'>
        <% @products.each do |product| %>
        <li class='list-group-product d-flex justify-content-between border p-3'>
        <p><%= product.name %></p>
        <span><%= product.price %>円 <a><%= link_to '×',product_delete_in_carts_path(product), method: :post, data: {confirm: '削除してもいいですか？'} %></a></span>
        </li>
        <% end %>
    </ul>
  <p class='text-right mt-3'>合計金額 <%= @products.sum(:price) %>円</p>

<%= form_tag charge_path do%>
    <%= hidden_field_tag 'product_ids[]', @products.ids %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="payment"
          data-amount=<%= @products.sum(:price) %>
          data-currency="jpy"
          data-locale="auto">
   </script>
<% end %>
</div>
