<a><%= image_tag @product.image.url %></a>

<ul class="list-unstyled pl-3 border">
    <h3 class="produt-name"><%= @product.name %></h3>
    <li class="description"><%= @product.description %></li>
    <li class="price"><%= @product.price.to_s(:delimited) %>円 </li>
</ul>

<%= button_to "買い物カゴに入れる", :class => 'btn-success' %>